:host {
  display: block;
  height: ~"calc({{height}})";
}

.loading {
    z-index: 100;
    background-color: rgba(192, 192, 192, 0.0);
    background-image: url("../image/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}

table-header /deep/ .holder {
	padding: 0.5em;
  background-color: rgba(0,0,0,0.05);
  align-items: center;
  font-size: 0.8em;
}

table-header /deep/ ui-pill {
	background: white;
}

table-header /deep/ .itemCount {
	margin-left : 0.5em;
  color: #666;
}

ui-grid {
	height: ~"calc({{height}})";
  font-weight: 200;
  font-size: 0.8em;
}

ui-grid /deep/ filter-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ui-grid /deep/ .headertextIconContainer {
  display: flex;
  justify-content: space-between;
}

ui-grid /deep/ grid-header {
  background-color: #2196F3;
  color: white;
}

ui-grid /deep/ grid-row:nth-of-type(even) {
	background: rgba(0,0,0,0.02);
}

ui-grid /deep/ grid-sort-icon {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

ui-grid /deep/ [filter] {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

ui-grid /deep/ [sort]:before {
  content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAxNiAyOCI+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZD0iTTE2IDE3cTAgMC40MDYtMC4yOTcgMC43MDNsLTcgN3EtMC4yOTcgMC4yOTctMC43MDMgMC4yOTd0LTAuNzAzLTAuMjk3bC03LTdxLTAuMjk3LTAuMjk3LTAuMjk3LTAuNzAzdDAuMjk3LTAuNzAzIDAuNzAzLTAuMjk3aDE0cTAuNDA2IDAgMC43MDMgMC4yOTd0MC4yOTcgMC43MDN6TTE2IDExcTAgMC40MDYtMC4yOTcgMC43MDN0LTAuNzAzIDAuMjk3aC0xNHEtMC40MDYgMC0wLjcwMy0wLjI5N3QtMC4yOTctMC43MDMgMC4yOTctMC43MDNsNy03cTAuMjk3LTAuMjk3IDAuNzAzLTAuMjk3dDAuNzAzIDAuMjk3bDcgN3EwLjI5NyAwLjI5NyAwLjI5NyAwLjcwM3oiIGZpbGw9IiMwMDAwMDAiPjwvcGF0aD48L3N2Zz4=);
  cursor: pointer;
  zoom: 75%;
}

ui-grid /deep/ #trigger {
  margin-right: 0.75em;
}

ui-grid /deep/ .headerText{
	text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

table-header /deep/ ui-pill{
	background: white;
}

table-header /deep/ #button{
  background-color: #2196F3;
  cursor: pointer;
}

